Carthage
CoreSDKTestApp.xcodeproj/project.xcworkspace/xcuserdata
CSSDKTestApp.xcodeproj/project.xcworkspace/xcuserdata
CSSDKTestApp.xcodeproj/xcuserdata
CSSDKDemo.xcodeproj/xcuserdata
CSSDKDemo.xcodeproj/project.xcworkspace/xcuserdata
